.dropdown-right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-bottom {
  transform: translateY(10%);
}
